---
permalink: "/ueber-mich"
title: Über mich
description: Ich habe selbst viele Jahre mit verschiedenen psychischen Einschränkungen gelebt, habe intensiv daran gearbeitet und die Probleme in den Griff bekommen. Habe viele Jahre lebenseinschränkend gelebt und genieße mein Leben jetzt umso mehr.
---

article.introduction.content-aboutme
  h1 Über mich
  section
    img.tanja-knappe-img(srcset="https://res.cloudinary.com/dc5q25fma/image/upload/w_200,h_280,q_auto,f_auto/v1578091399/tanja-knappe_evlbtm.jpg 200w,https://res.cloudinary.com/dc5q25fma/image/upload/w_400,h_560,q_auto,f_auto/v1578091399/tanja-knappe_evlbtm.jpg 400w" src="https://res.cloudinary.com/dc5q25fma/image/upload/w_200,h_280,q_auto,f_auto/v1578091399/tanja-knappe_evlbtm.jpg" sizes="200px" alt="Tanja Knappe" width="200" height="280")
    p
      strong Was gibt es über mich zu sagen
      br
      | Ich habe selbst viele Jahre mit verschiedenen psychischen Einschränkungen gelebt, habe intensiv daran gearbeitet und die Probleme in den Griff bekommen. Habe viele Jahre lebenseinschränkend gelebt und genieße mein Leben jetzt umso mehr. Ich bin ich glücklich darüber, dass ich in den letzten Jahren meine Erlebnisse durch psychologisches Wissen vielfältig erweitert durfte und meine Praxis 2018 eröffnet habe. Mit Herzblut stehe ich jedem zur Seite, der meine Hilfe sucht!
    p Durch meine eigenen Erlebnisse fällt es mir leicht mich in die Gefühlswelt meiner Klienten einzufühlen, mit Empathie zu reagieren, authentisch zu sein und mit Ihnen daran zu arbeiten, damit es auch Ihnen bald wieder besser geht, Sie Ihren Weg finden.
    p Ich freue mich darauf Sie kennenzulernen!
    .signature
hr.border-bottom-dotted
article.education
  h2 Aus- und Weiterbildung
  section
    p
      strong 2016
      br
      | Weiterbildung zum Thema Kommunikation & Emotion
    p
      strong 2016 / 2017
      br
      | Training in sozialer und emotionaler Kompetenz
    p
      strong 2017
      br
      | Ausbildung zur Atem-Therapeutin
    p
      strong 9. Mai 2017
      br
      | Erteilte Erlaubnis des Landratsamtes Pfaffenhofen zur Ausübung der Heilkunde beschränkt auf das Gebiet der Psychotherapie nach dem Heilpraktikergesetz
    p
      strong 2017 / 2018
      br
      | Ausbildung zur Entspannungs-Trainerin
      br
      | Autogenes Training, Progressive Muskelentspannung, Achtsamkeits-Training
    p
      strong 2018
      br
      | In eigener Praxis tätig
hr.border-bottom-dotted
article.thanks
  section
    h3 EIN BESONDERER DANK
    p Mein besonderer Dank gilt Elfriede Goldfuß, Inhabern der Heilpraktikerschule Zeitraum in 85296 Rohrbach und allen Mitstreiterinnen mit ihren Geschichten, die ich auf diesem Weg kennenlernen durfte!
  section
    h3 Mitgliedschaft
    p Ich bin Mitglied im Verband freier Psychotherapeuten, Heilpraktiker für Psychotherapie und Psychologischer Berater e.V. in Hannover.
