---
permalink: "/notfall"
title: Notfall
description: Wenn Sie außerhalb meiner Sprechzeiten oder während meines Urlaubs Hilfe benötigen dann wenden Sie sich bitte an folgende Stellen...
---

article
  h1 Notfall
  p Wenn Sie außerhalb meiner Sprechzeiten oder während meines Urlaubs Hilfe benötigen dann wenden Sie sich bitte an folgende Stellen:
  section
    p
      strong
        | Kriesendienst Psychiatrie Oberbayern
        | 24-Stunden Bereitschaft
      br
      | Telefon: 0180 – 655 3000
  section
    p
      strong
        | Psychiatrische Institutsambulanz - Danuvius Klinik Pfaffenhofen
        | 24-Stunden Bereitschaft
      br
      | Krankenhausstraße 68
      br
      | 85276 Pfaffenhofen
      br
      | elefon: 08441 - 4059-0
      br
      | BITTE VORHER TELEFONISCH KURZ ANMELDEN
  section
    p
      strong
        | Krisendienst im Klinikum Ingolstadt – Psychiatrische Institutsambulanz
        | 24-Stunden Bereitschaft
      br
      | Krumenauerstr. 25
      br
      | 85049 Ingolstadt
      br
      | Telefon: 0841 - 880-2205 oder 0841 – 880-0
  section
    p
      strong
        | Telefon-Seelsorge
      br
      | Telefon: 0800 – 111 0 111 oder 0800 – 111 0 222
