---
layout: page
title: Startseite
description: Schön, dass Sie zu mir gefunden haben. In welcher Lage Sie sich auch befinden - ich helfe Ihnen wieder Ihr Gleichgewicht zu finden.
---

article.intro
  h1 Praxis für emotionale Gesundheit
  section
    h4 Was bedeutet emotionale Gesundheit überhaupt?
    p Psychische Stabilität, innere Ruhe & Kraft, eine ausgeglichene Gefühlswelt.
  section
    h4 Wie kann sich Ihre Psyche unangenehm bemerkbar machen?
    p Immer wiederkehrende oder dauernde Ängste und Sorgen, Unruhe, Anspannung, schlechter Schlaf, Traurigkeit, bedrückt sein, fehlende Energie & Lebenslust, zu viel oder zu wenig Appetit, aggressive Reaktionen, Müdigkeit, körperliche Schmerzen oder Funktionsstörungen, für die es keine ärztliche Erklärung gibt. Das Gefühl, nicht gut genug zu sein, nicht genug zu leisten, nicht das richtige zu tun.
  section
    h4 Wodurch kann die emotionale Gesundheit aus dem Gleichgewicht gebracht werden?
    p Permanente Überbelastung im Alltag, Beziehungs-Probleme mit dem Partner, Eltern, Kindern, Trennung, Verlust eines nahestehenden Menschen, Umzug, Heirat & Geburt, körperliche Erkrankungen, Unfälle, Job-Verlust, Arbeitslosigkeit, Sucht, ungelöste Konflikte der Vergangenheit.
  p Jeder Mensch reagiert auf dieselbe Situation völlig unterschiedlich. Was den einen nicht berührt, löst in einem anderen Menschen z.B. starke Ängste aus.
hr.border-bottom-dotted
article.main-focus
  h2 Schwerpunkte meiner Praxis
  section.focus
    span.icon-therapy
    .focus-content
      h3 Gesprächstherapie
      p Eine Therapie ist eine gute Hilfe wenn Sie einen erhöhten oder hohen Leidensdruck haben, Sie Ihren Alltag nicht mehr in gewohnter Weise leben können, Dinge nicht mehr tun oder tun können, die vorher für Sie kein Problem waren. #[a(href="/symptome") Verschiedene Symptome] beunruhigen Sie und machen Ihnen das das Leben schwer.
      a(href="/mein-angebot/gespraechstherapie")
        button.btn-read-more Weiterlesen
  section.focus
    span.icon-coaching
    .focus-content
      h3 Coaching
      p Bei einem Coaching geht es darum, eine akute Herausforderung zu meistern. Ein Coaching ist für die Menschen der richtige Weg, die einen zuverlässigen Prozess-Begleiter für die Lösung schwieriger Lebensphasen suchen.
      a(href="/mein-angebot/coaching")
        button.btn-read-more Weiterlesen
  section.focus
    span.icon-autogenic-training
    .focus-content
      h3 Autogenes Training
      p Autogenes Training ist für die Menschen eine wertvolle Hilfe, die innere Ruhe und ein entspannteres Leben suchen. Autogenes Training lässt sich leicht erlernen und bei regelmäßigem Training werden Sie bald die wohltuende Wirkung spüren.
      a(href="/mein-angebot/autogenes-training")
        button.btn-read-more Weiterlesen
hr.border-bottom-dotted
article.therapy-coaching-comparison
  h2 Therapie oder Coaching
  p
    strong
      | Ob für Sie eine Therapie oder ein Coaching der bessere Weg ist, Ihre gesundheitlichen Einschränkungen zu bearbeiten, finden wir zusammen in einem Erst-Gespräch heraus.
  .comparison-container.indented
    section.comparison.comparison-therapy
      h4 Therapie
      ul.therapy-bp
        li Hoher Leidensdruck
        li Eingeschränkter Alltag
        li Ängste / Panik
        li Depressionen
        li Akute Belastungen
        li Körperliche Einschränkungen ohne Ärztliche Diagnose
    section.comparison.comparison-coaching
      h4 Coaching
      ul.coaching-bp
        li Akute Herausforderungen
        li Schwierige Lebensphasen
        li Prozessbegleitung
        li Konflike in Beruf und Beziehungen
        li Trennung und Trauerbewältigung
        li Einsamkeit
        li Mangelndes Selbstwertgefühl
