---
permalink: "/impressum-und-datenschutz"
title: Impressum und Datenschutz
description: Hier finden Sie das Impressum und die Datenschutzbestimmung meiner Webseite.
---

article
  h1 Impressum
  p Inhaltlich Verantwortlicher gemäß § 5 TMG:
  address
    p
      strong {{ site.company }}
      br
      | {{ site.ceo }}
      br
      | {{ site.street }}
      br
      | {{ site.postal_code }} {{ site.city }}
    p
      strong Tel.:
      a(href="{{ site.tel_link }}") {{ site.tel }}
      br
      strong Email:
      a(href="mailto:{{ site.email }}") {{ site.email }}
      br
      strong Webseite:
      a(href="{% link index.pug %}") www.tanja-knappe.de
  p Heilpraktikerin für Psychotherapie beschränkt auf das Gebiet der Psychotherapie. Die Erlaubnis zur Ausübung der Heilkunde ohne Bestallung beschränkt auf das Gebiet der Psychotherapie gemäß §1 des Heilpraktikergesetzes wurde am 09.05.2017 durch das Landratsamt Pfaffenhofen/Ilm, Aktenzeichen: 50/5012.0; AL 93/17, erteilt.
  h2 Datenschutzerklärung
  h3 Allgemeine Datenschutzerklärung
  p Verantwortliche Person für den Datenschutz ist {{ site.ceo }}, die Sie unter {{ site.email }} erreichen können. Sie haben gesetzliche Rechtsansprüche insbesondere auf Auskunft über die gespeicherten personenbezogenen Daten gem. Art. 15 DSGVO, Berichtigung oder Löschung (Art. 16, 17 DSGVO), Einschränkung der Verarbeitung (Art. 18 DSGVO), Widerspruch gegen Verarbeitung (Art. 21 Abs. 1 S.1 DSGVO), Datenübertragbarkeit (Art. 20 DSGVO). Weitere Informationen zum Thema Datenschutz finden Sie unter #[a(href="https://www.bfdi.bund.de") www.bfdi.bund.de].
  p Durch die Nutzung unserer Website erklären Sie sich mit der Erhebung, Verarbeitung und Nutzung von Daten gemäß der nachfolgenden Beschreibung einverstanden. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.
  p Unsere Website kann grundsätzlich ohne Registrierung besucht werden. Die Nutzung unserer Website ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (z.B. Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.
  p Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
  h3 Nutzung persönlicher Daten 
  p Der Schutz Ihrer personenbezogenen Daten ist uns wichtig. Wir beachten dabei die gesetzlichen Maßgaben und Ihre schutzwürdigen Interessen. Personenbezogene Kundendaten, insbesondere Ihre Adress- und Kontaktdaten, Geburtsdatum, sowie Ihre Angaben zum Vertragsgegenstand und die Daten, die uns aus Ihrer Anfrage /Bestellung / aus Ihrem Auftrag bekannt werden, verarbeiten wir, soweit wir hierzu rechtlich verpflichtet oder soweit die Daten zur Vertragsanbahnung oder -durchführung erforderlich sind, unabhängig vom Zustandekommen eines Vertrages. Ihre personenbezogenen Daten werden in dem für die Vertragserfüllung erforderlichen und gesetzlich zulässigen Umfang an Behörden, Vertragspartner und Erfüllungsgehilfen weitergegeben. Eine Datenweitergabe an zur Vertragserfüllung zugezogenen Dienstleister, wie z.B. Werkstätten, Versender, Logistik, Buchhaltung, Banken, Inkassounternehmen, Marketingunternehmen, Buchhaltung erfolgt nur, nachdem diese -wenn sie nicht ohnehin einer gesetzlichen Geheimhaltungspflicht unterliegen – jeweils auf das Datengeheimnis verpflichtet wurden. Sensible Daten i.S.d. Art. 9 DSGVO werden darüber hinaus nur mit Ihrer Einwilligung verarbeitet oder zur Vertragsdurchführung an Vertragspartner übermittelt. Die o.g. Daten werden für die Dauer der Abwicklung des Vertragsverhältnisses gespeichert, darüber hinaus für die Dauer der gesetzlichen Nachweis- und Dokumentationspflichten und für den Zeitraum, für den wir aus konkreten Anhaltspunkten auf ein Interesse an weiterer Speicherung schließen können. Anschließend werden die Daten gelöscht, soweit nicht vorher ein individueller Löschungsanspruch besteht und geltend gemacht oder eine Einwilligung widerrufen wird.
  h3 Sicherheit Ihrer Daten 
  p Ihre uns zur Verfügung gestellten persönlichen Daten werden durch Ergreifung aller technischen sowie organisatorischen Sicherheitsmaßnahmen so gesichert, dass sie für den Zugriff unberechtigter Dritter unzugänglich sind. Bei Versendung von sehr sensiblen Daten oder Informationen ist es empfehlenswert, den Postweg zu nutzen, da eine vollständige Datensicherheit per E-Mail nicht gewährleistet werden kann.
  h3 Server-Log-Files
  p Der Provider der Seiten erhebt und speichert zu statistischen Zwecken automatisch Informationen in so genannten Server-Log Files, die Ihr Browser automatisch an uns übermittelt. Dies sind: Browsertyp und Browserversion, verwendetes Betriebssystem, Referrer URL, Hostname des zugreifenden Rechners, aufgerufene Seiten bzw. Namen der abgerufenen Datei, Datum und Uhrzeit der Serveranfrage. Diese Daten sind nicht bestimmten Personen zuordenbar. Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen. Wir behalten uns vor, diese Daten nachträglich zu prüfen, wenn uns konkrete Anhaltspunkte für eine rechtswidrige Nutzung bekannt werden.
  h3 Cookies
  p Die Internetseiten verwenden teilweise so genannte Cookies. Cookies sind sicher und unschädlich und enthalten keine Viren. Cookies dienen dazu, unsere Website nutzerfreundlicher und effektiver zu machen. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert.
  p Die meisten der von uns verwendeten Cookies sind so genannte „Session-Cookies“. Sie werden nach Ende Ihres Besuchs automatisch gelöscht. Andere Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese löschen. Diese Cookies ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.
  p Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und Cookies nur im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder generell ausschließen sowie das automatische Löschen der Cookies beim Schließen des Browser aktivieren. Bei der Deaktivierung von Cookies kann die Funktionalität dieser Website eingeschränkt sein.
  h3 SSL-Verschlüsselung
  p Diese Seite nutzt aus Gründen der Sicherheit und zum Schutz der Übertragung vertraulicher Inhalte, wie zum Beispiel der Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL-Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von „http://“ auf „https://“ wechselt und an dem Schloss-Symbol in Ihrer Browserzeile. Wenn die SSL Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten mitgelesen werden.
  h3 Recht auf Auskunft, Löschung, Sperrung
  p Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung sowie ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten. Hierzu, sowie zu weiteren Fragen zum Thema personenbezogene Daten, können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden.
  h3 Widerspruch Werbe-Mails
  p Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-E-Mails, vor.
  h3 Google Maps
  p Wir binden die Landkarten des Dienstes „Google Maps“ des Anbieters Google LLC, 1600 Amphitheatre Parway, Mountain View, CA 94043, USA, ein. Zu den verarbeiteten Daten können insbesondere IP-Adressen und Standortdaten der Nutzer gehören, die jedoch nicht ohne deren Einwilligung (im Regelfall im Rahmen der Einstellungen ihrer Mobilgeräte vollzogen), erhoben werden. Die Daten können in den USA verarbeitet werden. Datenschutzerklärung: #[a(href="https://www.google.com/policies/privacy/") www.google.com/policies/privacy/], Opt-Out: #[a(href="https://adssettings.google.com/authenticated") google.com/authenticated].
  //- h3 Terminland.de - Online-Terminvereinbarung
  //- p Wir verwenden für die einfache Terminvereinbarung den Dienst Terminland.de, der sich auf die Terminbuchung für Unternehmen spezialisiert hat. Ihre eingegebenen persönlichen Daten zur Terminbuchung werden nur zum Zwecke der Terminbuchung gespeichert und verarbeitet. Diese Informationen werden ausschließlich uns als Dienstleister zugänglich gemacht und erscheinen automatisch in unserem Praxiskalender. Ihre Daten werden nicht an Dritte weitergegeben. Auch Terminland.de hat keinen Zugriff auf diese Daten, es sei denn, wir geben diese zu Supportzwecken explizit frei. Sie bekommen nach Abschluss der Terminbuchung eine Bestätigungsmail an Ihre E-Mail-Adresse gesendet, über welche Sie den gebuchten Termin ändern oder stornieren können. Sie können bei der Terminbuchung auswählen, ob die Bestätigungsmail gesendet werden soll. Der Versand der Bestätigungsmail erfolgt unverschlüsselt und enthält erfasste Termindaten. Die Termindaten können dabei im Klartext oder teilanonymisiert gesendet werden. Ihre personenbezogenen Daten werden in einem Rechenzentrum in Deutschland gespeichert. Wir löschen Ihre persönlichen Daten, wenn der mit den Daten verbundene Geschäftszweck weggefallen ist oder die einschlägigen gesetzlichen Datenschutzregeln dies verlangen. Auf Ihren Wunsch werden wir persönliche Daten ganz oder teilweise sperren. Hierzu teilen Sie uns mit, in welchem Umfang und für welche Dauer die Sperrung erfolgen soll. Soweit technisch möglich, können Sie auf diese Weise die Verarbeitung und Nutzung Ihrer Daten für bestimmte Bereiche ausschließen.
  p
    strong Datenschutzerklärung gem. Datenschutz-Grundverordnung (DSGVO) 25.05.2018
  h2 Haftungsausschluss
  h3 Haftung für Inhalte
  p Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
  h3 Haftung für Links
  p Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
  h3 Urheberrecht
  p Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
