---
permalink: "/ablauf"
title: Ablauf
description: Nach einem Erstgespräch zeigt sich ob eine psychologische Begleitung oder eine Therapie am besten für Ihre aktuelle Situation geeignet ist. 
---

article.content-process
  h1 Ablauf einer Psychotherapie oder einer psychologischen Begleitung
  section
    p
      strong Es beginnt mit einem Erstgespräch
      br
      | Ob eine Psychotherapie oder eine psychologische Begleitung, wir beginnen mit einem Erstgespräch. Wir lernen uns kennen und Sie erzählen mir, warum Sie zu mir gekommen sind, was Sie gerne verbessern, verändern möchten. Wichtig ist, dass Sie Sich mit mir und in meiner Praxis wohlfühlen, denn nur so werden Sie gerne wiederkommen und mit mir zusammen Lösungsmöglichkeiten erarbeiten. Machen Sie sich bitte keine Sorgen – es gibt kein Richtig und kein Falsch! Wenn Sie sich mit mir treffen, dann haben Sie schon einen großen Schritt gemacht und einen neuen Weg begonnen.
      br
      | Nach unserem Erstgespräch kann ich Ihnen sagen, ob eher eine Therapie oder eine psychologische Begleitung für Sie hilfreich ist.
  section
    p
      strong Wie läuft eine Therapie oder eine psychologische Begleitung ab?
      br
      | Sie erzählen frei zu Ihren aktuell problematisch verlaufenden Themen und beantworten, soweit wie möglich, meine ergänzenden Fragen. Ich werde Ihnen Vorschläge machen Ihre Sichtweisen, Ihre Bewertungen oder Ihr Verhalten probehalber zu verändern um zu sehen, was passiert. Es ist auch möglich, dass ich Sie bitten werde zu Hause Dinge auszuprobieren und/oder etwas aufzuschreiben.
    p Als Heilpraktikerin der Psychotherapie arbeite ich grundsätzlich mit verschiedenen Techniken und werde diese, je nach Klient und Thema, zusätzlich zur Gesprächs-Therapie anwenden, wenn es mir im Verlauf der Therapie oder einer psycholgischen Begleitung sinnvoll erscheint.
    p Es ist ausdrücklich erwünscht und hilfreich, wenn Sie jedes aufkommende Gefühl, dass während der Therapie oder der psychologischen Begleitung auftaucht, in Worte fassen und laut aussprechen. Wenn Sie z.B. etwas nicht möchten, Ihnen etwas nicht gut tut oder es Ihnen gerade sehr gut geht und entspannt sind.
    p Während der Therapie oder psychologischen Begleitung werde ich mir einige schritliche Notizen machen, damit ich bei unserem nächsten Treffen an bereits Gesprochenes anknüpfen kann. Alles worüber wir sprechen, bleibt in meiner Praxis, denn ich unterliege der Schweigepflicht.
  section
    p
      strong Wie lange dauert eine Therapie oder eine psychologische Begleitung?
      br
      | Jeder Mensch hat unterschiedlich große Probleme zu lösen, hat unterschiedliche Beschwerden und ein individuelles Tempo um den eigenen Weg zu finden. Die Dauer lässt sich auch nach einem Erstgespräch nicht pauschal beantworten aber ich werde Ihnen eine ungefähre Einschätzung der Stunden geben und mit Ihnen vereinbaren, wie oft im Monat wir uns sehen sollten.
