---
permalink: "/ablauf"
title: Ablauf
description: Ob eine Psychotherapie oder ein Coaching, wir beginnen mit einem Erstgespräch. Wir lernen uns kennen und Sie erzählen mir, warum Sie zu mir gekommen sind, was Sie gerne verbessern, verändern möchten. Wichtig ist, dass Sie Sich mit mir und in meiner Praxis wohlfühlen, denn nur so werden Sie gerne wiederkommen und mit mir zusammen Lösungsmöglichkeiten erarbeiten. Machen Sie sich bitte keine Sorgen – es gibt kein Richtig und kein Falsch! Wenn Sie sich mit mir treffen, dann haben Sie schon einen großen Schritt gemacht und einen neuen Weg begonnen.
---

article.content-process
  h1 Ablauf einer Psychotherapie oder eines Coachings
  section
    p
      strong Es beginnt mit einem Erstgespräch
      br
      | Ob eine Psychotherapie oder ein Coaching, wir beginnen mit einem Erstgespräch. Wir lernen uns kennen und Sie erzählen mir, warum Sie zu mir gekommen sind, was Sie gerne verbessern, verändern möchten. Wichtig ist, dass Sie Sich mit mir und in meiner Praxis wohlfühlen, denn nur so werden Sie gerne wiederkommen und mit mir zusammen Lösungsmöglichkeiten erarbeiten. Machen Sie sich bitte keine Sorgen – es gibt kein Richtig und kein Falsch! Wenn Sie sich mit mir treffen, dann haben Sie schon einen großen Schritt gemacht und einen neuen Weg begonnen.
      br
      | Nach unserem Erstgespräch kann ich Ihnen sagen, ob eher eine Therapie oder ein Coaching für Sie hilfreich sein.
  section
    p
      strong Wie läuft eine Therapiestunde oder ein Coaching ab?
      br
      | Eine Therapiestunde oder eine Coaching-Einheit dauert 60 Minuten. In dieser Zeit werde ich Fragen stellen, Sie erzählen frei zu problembehafteten Themen und beantworten meine Fragen, so gut Sie das gerade können. Ich werde Ihnen Vorschläge machen Ihre Sichtweisen, Ihre Bewertungen oder Ihr Verhalten probehalber zu verändern um zu sehen, was passiert. Es ist auch möglich, dass ich Sie bitten werde zu Hause Dinge auszuprobieren und/oder etwas aufzuschreiben.
    p Als Heilpraktikerin der Psychotherapie habe ich verschiedene Techniken erlernt und werde ggf. diese, je nach Klient und Thema, zusätzlich zur Gesprächs-Therapie anwenden, wenn es mir im Verlauf der Therapie oder des Coachings sinnvoll erscheint.
    p Es ist ausdrücklich erwünscht und hilfreich, wenn Sie jedes aufkommende Gefühl, dass während der Therapie oder des Coachings auftaucht, in Worte fassen und laut aussprechen. Wenn Sie z.B. etwas nicht möchten, Ihnen etwas nicht gut tut oder es Ihnen gerade sehr gut geht und entspannt sind.
    p Während der Therapie oder des Coachings werde ich mir einige Notizen per Hand schreiben, damit ich bei unserem nächsten Treffen an bereits Gesprochenes anknüpfen kann. Alles worüber wir sprechen, bleibt in meiner Praxis, denn ich unterliege der Schweigepflicht.
  section
    p
      strong Wie lange dauert eine Therapie oder ein Coaching?
      br
      | Jeder Mensch hat unterschiedlich große Probleme zu lösen, hat unterschiedliche Beschwerden und ein individuelles Tempo um den eigenen Weg zu finden. Die Dauer lässt sich auch nach einem Erstgespräch nicht pauschal beantworten aber ich werde Ihnen eine ungefähre Einschätzung der Stunden geben und mit Ihnen vereinbaren, wie oft im Monat wir uns sehen sollten.
