---
layout: page
permalink: "/symptome"
title: Symptome
description: Es gibt vielfältige Symptome, die auf eine psychische Problematik hindeuten können. Je länger die Symptome unbearbeitet bestehen desto schwieriger lassen sie sich oft aushalten und nach einer Weile können weitere Symptome dazukommen.
---

article.content-symptoms
  h1 Symptome
  section
    p Es gibt vielfältige Symptome, die auf eine psychische Problematik hindeuten können. Je länger die Symptome unbearbeitet bestehen desto schwieriger lassen sie sich oft aushalten und nach einer Weile können weitere Symptome dazukommen.
    hr.border-bottom-dotted.mb
    p Auf folgende, länger anhaltende Symptome sollten Sie achten - bitte besprechen Sie die Symptome immer erst mit Ihrem Hausarzt – eine körperliche Erkrankung muss ausgeschlossen bzw. erkannt werden.
    p(style="margin-bottom: 0")
      strong Je mehr Symptome bei Ihnen bereits bestehen, desto eher sollten Sie über eine professionelle Hilfestellung nachdenken:
  section
    ul.symptoms
      li Sie sind schon nach wenig Arbeit erschöpft und/oder sehr müde
      li Sie fühlen sich ständig unter Druck und sind gestresst
      li Sie kommen innerlich nicht zur Ruhe
      li Sie können zeitweise nicht richtig durchatmen, haben Druck auf der Brust
      li Sie sind ständig bedrückt, sind grundlos traurig, Niedergeschlagen ohne Zukunftsperspektive
      li Sie leiden unter Ängste, die sich auf bestimmte Situationen beziehen
      li Sie leiden unter Ängsten, die keinen erkennbaren Auslöser haben
      li Sie leiden an Panikattacken mit Herzrasen und Angst zu sterben
      li Sie haben zu viel oder zu wenig Appetit
      li Ihnen fehlt Energie, sie können sich schlecht Konzentration
      li Sie können nicht ein- oder durchschlafen
      li Permanente Gedanken drehen sich im Kreis
      li Zwangshandlungen – Handlungen, die sie willentlich nicht unterbinden können
      li Sie machen sich ständig Sorgen
      li Sie können Dinge nicht mehr machen, die früher kein Problem waren
      li Sie vermeiden Orte und Situationen
      li Selbstzweifel nagen an Ihnen, ihnen fehlt Durchsetzungsvermögen
      li Sie leiden an körperlichen Schmerzen für die es keine erkennbare Ursache gibt
      li Sie sind schnell wütend oder aggressiv
      li Sie fühlen sich einsam und nicht gebraucht
