<style>
  #cookie-notice {
    padding: 0.5rem 1rem;
    display: none;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: calc(100% - 2rem);
    background: #006724;
    color: rgba(255, 255, 255, 0.8);
  }

  #cookie-notice a {
    display: inline-block;
    cursor: pointer;
    margin-left: 0.5rem;
    background-color: rgb(245, 245, 245);
    color: #222;
    border-radius: 5px;
    padding: 3px 8px;
    transition: background-color .12s
  }

  #cookie-notice a:hover {
    background-color: rgb(225, 225, 225);
  }

  @media (max-width: 767px) {
    #cookie-notice span {
      display: block;
      padding-top: 3px;
      margin-bottom: 1rem;
    }

    #cookie-notice a {
      position: relative;
      bottom: 4px;
    }
  }

</style>
<div id="cookie-notice"><span>Diese Seite nutzt Website Tracking-Technologien von Dritten, um ihre Dienste anzubieten
    und
    stetig verbessern zu können.</span><a id="cookie-notice-accept" class="btn btn-primary btn-sm">Einverstanden</a><a
    href="/impressum-und-datenschutz" class="btn btn-primary btn-sm">Datenschutz</a></div>
<script>
  function createCookie(name, value, days) {
    var expires = "";
    if (days) {
      var date = new Date();
      date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
      expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + value + expires + "; path=/";
  }
  function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') c = c.substring(1, c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
    }
    return null;
  }
  function eraseCookie(name) {
    createCookie(name, "", -1);
  }

  if (readCookie('cookie-notice-dismissed') == 'true') {
    if (document.querySelector("h1").textContent == "Terminkalender") {
      var calendar = document.querySelector("iframe");
      calendar.src = "https://www.terminland.de/tanja-knappe/?mode=frame"
    }
    if (document.querySelector("h1").textContent == "Psychotherapie & Coaching") {
      var maps = document.querySelectorAll("iframe");
      var mapSources = ["https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2638.4050357454284!2d11.615432815665342!3d48.60208977926329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479e5abbb3178ca9%3A0x29b97498732f37a!2sJosef-Reindl-Stra%C3%9Fe%2029%2C%2085283%20Wolnzach!5e0!3m2!1sen!2sde!4v1567272236135!5m2!1sen!2sde", "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2638.1935439720633!2d11.623410615896564!3d48.60613842638832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479e5aafb695112b%3A0x6bd31420274fca8a!2sElsenheimerstra%C3%9Fe%2027%2C%2085283%20Wolnzach!5e0!3m2!1sen!2sde!4v1567272414522!5m2!1sen!2sde"]

      for (var i = 0; i < mapSources.length; i++) {
        maps[i].src = mapSources[i];
      }
    }
  } else {
    document.getElementById('cookie-notice').style.display = 'block';
  }
  document.getElementById('cookie-notice-accept').addEventListener("click", function () {
    createCookie('cookie-notice-dismissed', 'true', 31);
    document.getElementById('cookie-notice').style.display = 'none';
    location.reload();
  });

</script>
