footer
  .container
    .footer-container
      section.logo-footer.footer-section
        img.footer-logo(src="{{ 'assets/images/logo.png' | relative_url }}" alt="Praxis für emotionale Gesundheit Logo")
      nav.footer-nav.footer-section
        .footer-navigation-menu
          .menu-footer-menu-container
            ul#footer-menu.menu
              | {%- for menu_item in site.data.navigation.nav -%}
              | {%- if menu_item.children == nil -%}
              li(class="menu-item {% if menu_item.url == page.url %}current-menu-item{% endif %}")
                a(href="{{ menu_item.url | relative_url }}") {{ menu_item.title | escape }}
              | {%- else -%}
              | {%- for sub_menu_item in menu_item.children -%}
              li(class="menu-item {% if sub_menu_item.url == page.url %}current-menu-item{% endif %}")
                a(href="{{ sub_menu_item.url | relative_url }}") {{ sub_menu_item.title | escape }}
              | {%- endfor -%}
              | {%- endif -%}
              | {%- endfor -%}
      section.meta-info.footer-section
        address
          h5 {{ site.company }}
          div {{ site.ceo }}
          div {{ site.street }}
          div {{ site.postal_code }} - {{ site.city }}
        .contact-info
          .tel-number
            span.icon-tel
            a(href="{{ site.tel_link }}") {{ site.tel }}
          .email-address
            span.icon-email
            a(href="mailto:{{ site.email }}") {{ site.email }}
        .legal
          ul.menu
            li
              a(href="/impressum-und-datenschutz/") Impressum & Datenschutz
