section.info-header-container.mobile-hidden
  .container
    .info-header
      .info.email-address
        span.icon-email
        a(href="mailto:{{ site.email }}") {{ site.email }}
      .info.tel-number
        span.icon-tel
        a(href="{{ site.tel_link }}") {{ site.tel }}
      .spacer
      a.emergency(href="{% link emergency.pug %}") Notfall
