section.brand-area-container.mobile-hidden
  .container
    .brand-area
      a.logo-container(href="{% link index.pug %}")
        img.logo(src="{{ 'assets/images/logo.png' | relative_url }}" alt="Praxis für emotionale Gesundheit Logo")
