article.contact
  .contact-container.container
    h2 Kontakt zu mir
    .divider
    p Wenn Sie Fragen an mich haben oder gerne einen Termin vereinbaren möchten, dann können Sie das ganz einfach über die Kontaktseite oder den Terminkalender machen.
    a.btn-cta(href="/kontakt-und-termine") Kontakt & Termine
