article.autogenic-training
  h4 Kurstermine
  h3 Autogenes Training
  section.group-sessions
    h5 Gruppentermine
    ul.group-session-dates
      | {% for course in site.data.course_info.courses %}
      li
        span.session-date {{ course.date }}
        span.session-time {{ course.time }}
      | {% endfor %}
  section.solo-sessions
    h5 Einzeltermine
    ul.solo-session-dates
      li Individuell mit Ihnen vereinbart
  a(href="/kontakt-und-termine#termine") › zu den Terminen
hr.faded
section.online-appointments
  h3 Online Terminkalender
  p Jetzt ganz einfach einen Termin online mit mir vereinbaren
  p
    a(href="{% link calendar.pug %}") › zum Terminkalender
hr.faded
section
  a(href="https://www.vfp.de" target="_blank")
    img#sidebar-logo(src="{{ 'assets/images/sidebar-logo.jpg' | relative_url }}" alt="VFP Logo")
  p Ich bin Mitglied im Verband freier Psychotherapeuten, Heilpraktiker für Psychotherapie und psychologischer Berater e.V. 
    a(href="https://www.vfp.de" target="_blank") www.vfp.de
hr.faded
