article.maps.contact-sidebar
  section.map-practise
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2638.4050357454284!2d11.615432815665342!3d48.60208977926329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479e5abbb3178ca9%3A0x29b97498732f37a!2sJosef-Reindl-Stra%C3%9Fe%2029%2C%2085283%20Wolnzach!5e0!3m2!1sen!2sde!4v1567272236135!5m2!1sen!2sde" width="100%" height="300px" frameborder="0" style="border:0;" allowfullscreen="")
    h3 {{ site.company }}
    address
      p {{ site.ceo }}
        br
        | {{ site.street }}
        br
        | {{ site.postal_code }} {{ site.city }}
    .contact-info-sidebar
      p
        a(href="{{ site.tel_link }}") {{ site.tel }}
        br
        a(href="mailto:{{ site.email }}") {{ site.email }}
  hr.faded
  section.map-vhs
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2638.1935439720633!2d11.623410615896564!3d48.60613842638832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479e5aafb695112b%3A0x6bd31420274fca8a!2sElsenheimerstra%C3%9Fe%2027%2C%2085283%20Wolnzach!5e0!3m2!1sen!2sde!4v1567272414522!5m2!1sen!2sde" width="100%" height="300px" frameborder="0" style="border:0;" allowfullscreen="")
    h3 VHS Wolnzach
    address
      p Elsenheimer Str. 27
        br
        | 85283 Wolnzach
    .contact-info-sidebar
      p
        a(href="tel:498442915408") 08442 915408
        br
        a(href="mailto:buecherei@wolnzach.de") buecherei@wolnzach.de
