article.sidebar-blog
  section.categories
    h3 Kategorien
    .category-container
      | {% if page.title != "Blog" %}
      a.pill(href="{% link blog/index.html %}")
        | Alle
      | {% endif %}
      | {% for category in site.categories %}
      | {% if page.title != category[0] %}
      a.pill(href="/blog/{{ category[0] | downcase | replace: ' ', '-' }}")
        | {{ category[0] }}
      | {% endif %}
      | {% endfor %}
  section.online-appointments
    h3 Online Terminkalender
    p Jetzt ganz einfach einen Termin online mit mir vereinbaren
    p
      a(href="{% link calendar.pug %}") › zum Terminkalender
  section
    a(href="https://www.vfp.de" target="_blank")
      .img-wrapper83
        img#sidebar-logo(src="https://res.cloudinary.com/dc5q25fma/image/upload/c_crop,g_west,f_auto,q_auto,w_353,h_353/v1578091394/sidebar-logo_ld5cj3.jpg" alt="VFP Logo" width="353" height="353")
    p Ich bin Mitglied im Verband freier Psychotherapeuten, Heilpraktiker für Psychotherapie und psychologischer Berater e.V. 
      a(href="https://www.vfp.de" target="_blank") www.vfp.de