article.sidebar-blog
  section.online-appointments
    h3 Online Terminkalender
    p Jetzt ganz einfach einen Termin online mit mir vereinbaren
    p
      a(href="{% link calendar.pug %}") › zum Terminkalender
  section
    a(href="https://www.vfp.de" target="_blank")
      img#sidebar-logo(src="{{ 'assets/images/sidebar-logo.jpg' | relative_url }}" alt="VFP Logo")
    p Ich bin Mitglied im Verband freier Psychotherapeuten, Heilpraktiker für Psychotherapie und psychologischer Berater e.V. 
      a(href="https://www.vfp.de" target="_blank") www.vfp.de