article.maps.contact-sidebar
  section.map-practise
    iframe(src="" width="100%" height="300px" frameborder="0" style="border:0;" allowfullscreen="")
    h3 {{ site.company }}
    address
      p {{ site.ceo }}
        br
        | {{ site.street }}
        br
        | {{ site.postal_code }} {{ site.city }}
    .contact-info-sidebar
      p
        a(href="{{ site.tel_link }}") {{ site.tel }}
        br
        a(href="mailto:{{ site.email }}") {{ site.email }}
  hr.faded
  section.map-vhs
    iframe(src="" width="100%" height="300px" frameborder="0" style="border:0;" allowfullscreen="")
    h3 VHS Wolnzach
    address
      p Elsenheimer Str. 27
        br
        | 85283 Wolnzach
    .contact-info-sidebar
      p
        a(href="tel:498442915408") 08442 915408
        br
        a(href="mailto:buecherei@wolnzach.de") buecherei@wolnzach.de
