#blog-content {
  * {
    font-family: 'Arimo', sans-serif;
  }

  h3, h4, h5, h6 {
    margin-bottom: 5px;
  }

  .side-col {
    border-left: none;
    margin-top: 53px;
    @media only screen and (max-width: $mobile-breakpoint) {
      margin: 0;
    }
  }

  .blog-hero-image {
    @include cover-image;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1170px;
    width: 100%;
    height: 320px;
    background-color: rgb(63, 63, 63);
    margin: 270px auto 0;
    box-shadow: inset 0 0 268px rgb(0, 0, 0);
    @media only screen and (max-width: $mobile-breakpoint) {
      margin: 170px auto 0;
    }
    h1 {
      color: whitesmoke;
      font-size: 45px;
      font-family: 'Inria Serif', serif;
      text-shadow: 0 0 14px rgba(0, 0, 0, 0.7);
      z-index: 100;
    }
  }

  .featured-image {
    position: relative;
    width: 100%;
    height: 300px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    &.image-large {
      height: 500px;
    }
  }

  .blog-post-info {
    color: #999;
    margin-bottom: 4px;
    a {
      color: #999 !important;
    }
  }

  .blog-main-content {
    .blog-post-teaser {
      display: block;
      margin-bottom: 50px;
      h3 {
        font-size: 22px;
        margin-top: 14px;
        margin-bottom: 0;
        color: darken($green, 5);
      }
      .blog-post-info {
        font-size: 13px;
        margin-bottom: 11px;
      }
      .blog-post-excerpt {
        color: #333;
        p {
          margin-bottom: 9px;
        }
      }
    }
    @media only screen and (max-width: $mobile-breakpoint) {
      padding-bottom: 0;
    }
  }

  .container-narrow {
    margin-top: 270px;
    max-width: 800px;
    @media only screen and (max-width: $mobile-breakpoint) {
      margin-top: 170px;
    }
  }

  .blog-post {
    .blog-post-frontmatter {
      text-align: center;
      h1 {
        font-family: 'Inria Serif', serif;
        margin: 30px 0 0;
        font-size: 50px;
      }
    }
    .blog-post-content {
      max-width: 660px;
      margin: 20px auto 100px;
      .post-nav {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .more-posts {
    background-color: whitesmoke;
    width: 100%;
    padding: 40px 0 35px;
    .thumbnail-container {
      max-width: 660px;
      margin: 0 auto;
      h2 {
        margin-bottom: 12px;
        @media only screen and (max-width: $mobile-breakpoint - 300px) {
          text-align: center;
        }
      }
      .post-thumbnails {
        display: flex;
        justify-content: center;
        @media only screen and (max-width: $mobile-breakpoint - 300px) {
          flex-wrap: wrap;
          .post-thumbnail {
            margin: 0 0 22px !important;
            max-width: 100% !important;
          }
        }
        .post-thumbnail {
          text-align: center;
          max-width: 220px;
          width: 100%;
          margin-right: 20px;
          &:last-of-type {
            margin: 0;
          }
          .thumbnail-title {
            flex-grow: 1;
            width: 100%;
            font-size: 15px;
            margin: 10px 0 0;
          }
          .thumbnail-link {
            font-size: 13px;
          }
        }
      }
    }
  }

  .pager {
    padding: 0;
    display: flex;
    justify-content: space-between;
    li {
      list-style: none;
    }
  }

  .sidebar-blog {
    section {
      margin-bottom: 35px;
      .category-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .pill {
          background-color: transparentize($green-light, .4);
          color: darken($green, 10);
          border-radius: 20px;
          margin-right: 8px;
          margin-bottom: 8px;
          padding: 4px 14px;
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
          transition: background-color .1s;
          &:hover {
            background-color: transparentize($green-light, .2);
          }
        }
      }
    }
  }

}
