---
layout: blog-2-col
title: Blog
description: "Herzlich Willkommen auf dem Blog für emotionale Gesundheit"
pagination: 
  enabled: true
---

<article class="blog-main-content">
  <h2>Alle Posts</h2>
  {% for post in paginator.posts %}
  <div class="blog-post-teaser">
      <a href="{{ post.url }}">
        <img
            src="https://res.cloudinary.com/dc5q25fmj/image/upload/c_fill,g_center,f_auto,q_auto,w_767,h_300/{{ post.featured_image }}",
            srcset="https://res.cloudinary.com/dc5q25fmj/image/upload/c_fill,g_center,f_auto,q_auto,w_767,h_300/{{ post.featured_image }} 767w, https://res.cloudinary.com/dc5q25fmj/image/upload/c_fill,g_center,f_auto,q_auto,w_640/{{ post.featured_image }} 640w, https://res.cloudinary.com/dc5q25fmj/image/upload/c_fill,g_center,f_auto,q_auto,w_360/{{ post.featured_image }} 360w",
            sizes="(min-width: 671px) 767px, (min-width: 380px) 640px, (min-width: 1px) 360px",
            alt="{{ post.title }}"
        />
      </a>
      <h3>{{ post.title }}</h3>
      <div class="blog-post-info">von <a href="{% link about.pug %}">Tanja Knappe </a>/ {{ post.date | date: "%d.%m.%Y" }} / {{ post.categories[0] }}</div>
      <div class="blog-post-excerpt">{{ post.excerpt | truncatewords: 20 }}</div>
      <div class="blog-post-link"><a href="{{ post.url }}">weiterlesen ›</a></div>
  </div>
  {% endfor %}

  {% if paginator.total_pages > 1 %}
  <ul class="pager">
      {% if paginator.previous_page %}
      <li class="previous">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; neuere Posts</a>
      </li>
      {% endif %}
      {% if paginator.next_page %}
      <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">ältere Posts &rarr;</a>
      </li>
      {% endif %}
  </ul>
  {% endif %}
</article>
