---
layout: blog-2-col
title: Blog
description: "Herzlich Willkommen auf dem Blog für emotionale Gesundheit"
pagination: 
  enabled: true
---

<article class="blog-main-content">
  <h2>Alle Posts</h2>
  {% for post in paginator.posts %}
  <div class="blog-post-teaser">
      <a href="{{ post.url }}">
        <div class="img-wrapper39">
          <img src="{{ post.featured_image | replace: 'g_faces', 'g_faces:auto,h_390' }}" alt="{{ post.title }}">
        </div>
      </a>
      <h3>{{ post.title }}</h3>
      <div class="blog-post-info">von <a href="{% link about.pug %}">Tanja Knappe </a>/ {{ post.date | date: "%d.%m.%Y" }} / <a href="/blog/{{ post.categories[0] | downcase | replace: ' ', '-' }}">{{ post.categories[0] }}</a></div>
      <p class="blog-post-excerpt">{{ post.excerpt | strip_html | truncatewords: 25 }}</p>
      <div class="blog-post-link"><a href="{{ post.url }}">weiterlesen ›</a></div>
  </div>
  {% endfor %}

  {% if paginator.total_pages > 1 %}
  <ul class="pager">
      {% if paginator.previous_page %}
      <li class="previous">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; neuere Posts</a>
      </li>
      {% endif %}
      {% if paginator.next_page %}
      <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">ältere Posts &rarr;</a>
      </li>
      {% endif %}
  </ul>
  {% endif %}
</article>

