---
permalink: "/mein-angebot/autogenes-training"
title: Autogenes Training
description: Autogenes Training ist eine wirksame und anerkannte Methode zur Tiefen-Entspannung. Sie lässt sich sowohl vorbeugend wie auch bei bereits bestehenden psychischen wie körperlichen Beschwerden hervorragend einsetzen
---

article
  h1
    | Das Autogene Training
  p Mit autogenem Training können Sie selbst viel für Ihre Gesundheit und innere Ruhe tun.
  p
    strong Was ist autogenes Training?
    br
    | Autogenes Training ist eine wirksame und anerkannte Methode zur Tiefen-Entspannung. Sie lässt sich sowohl vorbeugend wie auch bei bereits bestehenden psychischen wie körperlichen Beschwerden hervorragend einsetzen. Durch die positive Wirkung auf das vegetative Nervensystem hilft autogenes Training vorbeugend dabei, Stress und Anspannung gar nicht erst zum Problem werden zu lassen. Regelmäßig angewendet steigert es die Konzentration, wir bleiben entspannter, fühlen uns leistungsfähiger. Eingesetzt bei Symptomen fördert es den Gesundungsprozess. Die durch zu viel Stress und Anspannung entstandenen Symptome werden gemildert, oft verschwinden Beschwerden auch im Verlauf des regelmäßigen Trainings ganz.
  p
    strong Wofür wende ich autogenes Training an?
    br
    | In unserer schnelllebigen Zeit gönnen wir uns viel zu selten Ruhe und Entspannung. Bleibt aber die Anspannung dauernd in unserem Körper stellen sich früher oder später Symptome an Seele und Körper ein. Wir kämpfen zum Beispiel mit Rücken-, Schulter-, Nacken- oder Kopfschmerzen, Bluthochdruck, Herz-Kreislaufbeschwerden, Verdauungsbeschwerden, Schlafstörungen, Ängsten oder innerer Unruhe. Das autogene Training kann ohne Probleme bei vielen Erkrankungen begleitend angewendet werden. Langfristig kann es sogar zur Dosis-Senkung von Medikamenten führen.
  p
    strong Wie wird autogenes Training durchgeführt?
    br
    | Autogenes Training ist eine Tiefenentspannung und wird im Liegen oder Sitzen durchgeführt. Die Trainingszeit kann bei geübten zeitlich variiert werden, sie liegt ca. zwischen 15 und 45 Minuten. Es ist besser täglich 15 Minuten zu üben als einmal in der Woche 1 Stunde.
  p
    strong Wo kann ich Autogenes Training erlernen?
    br
    | Sie können autogenes Training sowohl bei mir in der Praxis im Einzelunterricht erlernen oder in einer meiner Kurse über die Volkshochschule Wolnzach oder im Raum der Qi Gong & Taiji Schule von Karin Sedlmeier in Wolnzach-Gosseltshausen. Hier finden Sie die aktuellen Termine.
  .appointment-teaser
    .bg-image
      .appointment-link
        a(href="/kontakt-und-termine#termine") Kurs buchen
        span ›