---
permalink: "/mein-angebot/coaching"
title: Coaching
description: Veränderungen werfen oft Ängste vor dem Ungewissen auf. Wenn Sie sich gerade schwer in Ihrer aktuellen Lebenssituation tun, dann kann Ihnen ein Coaching helfen.
---

article
  h1 Das Coaching
  p Die einzige Konstante im Leben ist die Veränderung wusste schon der griechische Philosoph Heraklit vor über zweitausend Jahren zu berichten. Offen bleibt an dieser Stelle, wie jeder Einzelne mit einer auftretenden Veränderungen umgeht oder man eine Veränderung gezielt einleitet, wenn der aktuelle Weg nicht mehr der richtige zu sein scheint.
  p Häufig sabotieren wir unser Leben selbst durch die Art wie wir über etwas denken und je länger wir das tun, desto schlechter geht es uns in der Regel damit. Ein Coaching wird z.B. eingesetzt bei Spannungen und Konflikten im Beruf oder in Beziehungen zu nahestehenden Menschen, Einsamkeit, mangelndes Selbstwertgefühl, nicht erreichen von Zielen, Prüfungsangst. Trennungs- und Trauerbewältigung.
  p Veränderungen werfen oft Ängste auf, Ängste vor dem Ungewissen, Ängste vor dem, was wir noch nicht wissen, vor der Zukunft. Veränderungen annehmen, Entscheidungen treffen, neu ordnen ist ein Prozess, den wir im Bestfall alleine durchlaufen und am Ende wieder gut im Leben stehen, mit neuer Kraft in die Zukunft steuern.
  p Wenn Sie sich mit einer Veränderung schwer tun, sich nicht gut deswegen fühlen, sie nicht abschließen und neu beginnen können, dann stellt ein Coaching für Sie eine gute Möglichkeit sein, damit Sie Ihren Veränderungs-Prozess erfolgreich durchlaufen und beenden können.
  .appointment-teaser
    .bg-image.lazy(data-bg="url(https://res.cloudinary.com/dc5q25fma/image/upload/w_602,q_70,f_auto/v1578091400/leaf-texture_dv47dn.jpg)")
      .appointment-link
        a(href="{% link calendar.pug %}") Termin vereinbaren
        span ›