---
permalink: "/mein-angebot/psychologische-begleitung"
title: Psycholoische Begleitung
description: Veränderungen werfen oft Ängste vor dem Ungewissen auf. Wenn Sie sich gerade schwer in Ihrer aktuellen Lebenssituation tun, dann kann Ihnen ein psychologische Begleitung helfen.
---

article
  h1 Psychologische Begleitung
  p Die einzige Konstante im Leben ist die Veränderung wusste schon der griechische Philosoph Heraklit vor über zweitausend Jahren zu berichten. Offen bleibt an dieser Stelle, wie jeder Einzelne mit einer auftretenden Veränderungen umgeht oder auch gezielt eine Veränderung einleitet, wenn der aktuelle Weg nicht mehr der richtige zu sein scheint. Bevor Sie sich die Zähne zu lange an einem Thema ausbeißen und immer mehr psychische oder körperliche Symptome bemerken, sollten Sie sich früh genug professionelle Hilfe suchen. Familie, Partner und Freunde helfen meist auch gerne, haben aber nicht den nötigen Abstand um das Problem von außen neutral zu betrachten.
  p Häufig sabotieren wir unser Leben selbst durch die Art wie wir über etwas denken und je länger wir das tun, desto schlechter geht es uns in der Regel damit. Eine psychologische Begleitung ist z.B. sinnvoll bei Spannungen und Konflikten im Beruf oder in Beziehungen zu nahestehenden Menschen, Einsamkeit, mangelndes Selbstwertgefühl, nicht erreichen von Zielen, Prüfungsangst. Trennungs- und Trauerbewältigung und in jeder Situation, in der Sie sich Unterstützung wünschen und benötigen.
  p Veränderungen werfen oft Ängste auf, Ängste vor dem Ungewissen, Ängste vor dem, was wir noch nicht wissen, vor der Zukunft. Veränderungen annehmen, Entscheidungen treffen, neu ordnen ist ein Prozess, den wir im Bestfall alleine durchlaufen und am Ende wieder gut im Leben stehen, mit neuer Kraft in die Zukunft steuern. Wenn Sie sich mit einer Veränderung oder dem Annehmen einer neuen Lebenssituation schwer tun, dann stellt ein psychologische Begleitung für Sie eine gute Möglichkeit dar, damit Sie Ihren Veränderungs-Prozess durchlaufen, beenden oder annehmen können.
 
  .appointment-teaser
    .bg-image.lazy(data-bg="url(https://res.cloudinary.com/dc5q25fma/image/upload/w_602,q_70,f_auto/v1578091400/leaf-texture_dv47dn.jpg)")
      .appointment-link
        a(href="{% link calendar.pug %}") Termin vereinbaren
        span ›