---
permalink: "/mein-angebot/gespraechstherapie"
title: Gesprächstherapie
description: Mein Schwerpunkt im Rahmen einer Psychotherapie liegt in der Gesprächs-Psychotherapie nach dem Motto „Sprechen wir darüber“. Auch wenn es schwer fallen kann, gerade am Anfang einer Therapie, lohnt es sich, das Problem und die Gefühle in Worte zu fassen. Das ist der erste Schritt Ihres Weges zu mehr Stabilität, zu mehr emotionaler Gesundheit.
---

article
  h1 Die Gesprächs-Psychotherapie
  p Mein Schwerpunkt im Rahmen einer Psychotherapie liegt in der Gesprächs-Psychotherapie nach dem Motto #[em „Sprechen wir darüber“]. Auch wenn es schwer fallen kann, gerade am Anfang einer Therapie, lohnt es sich, das Problem und die Gefühle in Worte zu fassen. Das ist der erste Schritt Ihres Weges zu mehr Stabilität, zu mehr emotionaler Gesundheit. Eine Therapie kann z.B. helfen bei ausgeprägten Ängsten, Panik, Depressionen, akuten Belastungsreaktionen, psychosomatischen Störungen (körperlich nicht erklärbare Probleme).
  p In unserer Zeit ist es selten geworden, einen Menschen in unserer Familie, im Freundes-Kreis oder im Partner zu finden, der Lust und Zeit hat sich unsere Sorgen oder Probleme anzuhören. Sind die seelischen Probleme noch nicht so groß, könnte das gut helfen. Meist sind wir aber allein mit unserem Kummer, unserer Wut oder Traurigkeit und viele Menschen schaffe icht, sich ohne Hilfe aus oft drückenden Gedanken, Ängsten oder Sorgen zu befreien. Aussagen wie z.B.: Das geht vorbei, jetzt reiß Dich mal zusammen, Du schaffst das schon, morgen sieht die Welt schon anders aus, helfen in der Regel nicht weiter. Werden die Probleme und psychischen Symptome zu heftig, dann stoßen Familie und Freunde bald an ihre Grenzen und professionelle Hilfe ist das Mittel der Wahl. 
    strong Damit aus einer „seelischen Schieflage“ keine psychische Erkrankung wird gilt es, die eigene Situation ernst zu nehmen und zu reagieren – handeln Sie früh genug!
  p Die Lösung Ihrer Probleme liegt bereits in Ihnen, Sie können sie nur gerade noch nicht sehen. Ich mache mich mit Ihnen zusammen auf den Weg um die Lösungen für Ihre Sorgen und Nöte zu finden. In der angenehmen und geschützten Atmosphäre meiner Praxis können Sie sich Schritt für Schritt von Ihrem seelischen Ballast befreien. Alles was gesprochen wird bleibt dort, 
    strong ich unterliege der Schweigepflicht!
  p An welchem Punkt Sie sich auch in Ihrem Leben gerade befinden, die Gesprächs-Therapie gibt Ihnen die Möglichkeit Ihre Gedanken zu ordnen, Gefühle zu leben und zu innerer Ruhe und mehr emotionaler Gesundheit zurückzufinden.
  .signature-therapy
  
  .appointment-teaser
    .bg-image
      .appointment-link
        a(href="/online-terminkalender") Termin vereinbaren
        span ›