---
layout: default
---

#content(data-router-wrapper)
  .router-view(data-router-view="{{ page.name | split: '.' | first }}")
    #blog-content
      .container.container-narrow
        a(href="{% link blog/index.html %}" style="margin-bottom: 20px; display: inline-block") &#8249; zurück zur Übersicht
        .blog-post
          .img-wrapper66
            img(src="{{ page.featured_image }}", alt="{{ post.title }}")
          .blog-post-frontmatter
            h1 {{ page.title }}
            .blog-post-info
              | {% assign reading_time = page.content | number_of_words | divided_by: 265.0 | round %} 
              a(href="{% link about.pug %}") Tanja Knappe 
              | / {{ page.date | date: "%d.%m.%Y" }} / 
              span Lesezeit: {{ reading_time }} {% if reading_time > 1 %}Minuten{% else %}Minute{% endif %}
            hr.short-centered
          .blog-post-content
            | {{ content }}
            .post-nav
              a(href="{% link blog/index.html %}") &#8249; zurück zur Übersicht
              | {% if page.next %}
              a(href="{{ page.next.url }}") nächster Post ›
              | {% endif %}
            //- #disqus_thread
            //- script(src="{{ 'assets/js/disqus.js' | relative_url }}")
            //- noscript Sie benötigen Javascript, um die 
            //-   a(href="https://disqus.com/?ref_noscript") Kommentare
            //-   | von Disqus einsehen zu können
      .more-posts
        .container
          .thumbnail-container
            h2 Neue Posts
            .post-thumbnails
              | {% assign filtered_posts = site.posts | where_exp: "post", "post.title != page.title" %}
              | {% for post in filtered_posts limit: 3 %}
              .post-thumbnail
                a(href="{{ post.url }}" style="display: block") 
                  .img-wrapper64
                    img(src="{{ post.featured_image }}", alt="{{ post.title }}")
                h4.thumbnail-title {{ post.title }}
                a.thumbnail-link(href="{{ post.url }}") weiterlesen ›
              | {% endfor %}
