---
layout: default
---

#content(data-router-wrapper)
  .router-view(data-router-view="{{ page.name | split: '.' | first }}")
    #blog-content
      .container.container-narrow
        a(href="{% link blog/index.html %}" style="margin-bottom: 20px; display: inline-block") &#8249; zurück zur Übersicht
        .blog-post
          .img-wrapper66
            //- img(
            //-   data-srcset="https://res.cloudinary.com/dc5q25fma/image/upload/c_fill,g_faces:auto,f_auto,q_auto,w_1540,h_1020/{{ page.featured_image }} 2x, https://res.cloudinary.com/dc5q25fma/image/upload/c_fill,g_faces:auto,f_auto,q_auto,w_640,h_424/{{ page.featured_image }} 640w, https://res.cloudinary.com/dc5q25fma/image/upload/c_fill,g_faces:auto,f_auto,q_auto,w_400,h_265/{{ page.featured_image }} 400w, https://res.cloudinary.com/dc5q25fma/image/upload/c_fill,g_faces:auto,f_auto,q_auto,w_770,h_510/{{ page.featured_image }} 770w"
            //-   data-sizes="(min-width: 680px) 770px, (min-width: 450px) 640px, (min-width: 1px) 400px"
            //-   alt="{{ page.title }}"
            //-   width="770"
            //-   height="510"
            //-   class="lazy"
            //-   data-src="https://res.cloudinary.com/dc5q25fma/image/upload/c_fill,g_faces:auto,f_auto,q_auto,w_770,h_510/{{ page.featured_image }}"
            //- )
            | {{ post.featured_image }}
          .blog-post-frontmatter
            h1 {{ page.title }}
            .blog-post-info
              | {% assign reading_time = page.content | number_of_words | divided_by: 265.0 | round %} 
              a(href="{% link about.pug %}") Tanja Knappe 
              | / {{ page.date | date: "%d.%m.%Y" }} / 
              span Lesezeit: {{ reading_time }} {% if reading_time > 1 %}Minuten{% else %}Minute{% endif %}
            hr.short-centered
          .blog-post-content
            | {{ content }}
            .post-nav
              a(href="{% link blog/index.html %}") &#8249; zurück zur Übersicht
              | {% if page.next %}
              a(href="{{ page.next.url }}") nächster Post ›
              | {% endif %}
            //- #disqus_thread
            //- script(src="{{ 'assets/js/disqus.js' | relative_url }}")
            //- noscript Sie benötigen Javascript, um die 
            //-   a(href="https://disqus.com/?ref_noscript") Kommentare
            //-   | von Disqus einsehen zu können
      .more-posts
        .container
          .thumbnail-container
            h2 Neue Posts
            .post-thumbnails
              | {% assign filtered_posts = site.posts | where_exp: "post", "post.title != page.title" %}
              | {% for post in filtered_posts limit: 3 %}
              .post-thumbnail
                a(href="{{ post.url }}" style="display: block") 
                  .img-wrapper64
                    //- img(
                    //-   data-srcset="https://res.cloudinary.com/dc5q25fma/image/upload/c_fill,g_faces:auto,f_auto,q_auto,w_220,h_140/{{ post.featured_image }} 220w, https://res.cloudinary.com/dc5q25fma/image/upload/c_fill,g_faces:auto,f_auto,q_auto,w_400,h_267/{{ post.featured_image }} 400w, https://res.cloudinary.com/dc5q25fma/image/upload/c_fill,g_faces:auto,f_auto,q_auto,w_640,h_407/{{ post.featured_image }} 640w"
                    //-   data-sizes="(min-width: 700px) 220px, (min-width: 550px) 640px, (min-width: 1px) 400px",
                    //-   alt="{{ post.title }}"
                    //-   width="640"
                    //-   height="407"
                    //-   class="lazy"
                    //-   data-src="https://res.cloudinary.com/dc5q25fma/image/upload/c_fill,g_faces:auto,f_auto,q_auto,w_400,h_255/{{ post.featured_image }}"
                    //- )
                    | {{ post.featured_image }}
                h4.thumbnail-title {{ post.title }}
                a.thumbnail-link(href="{{ post.url }}") weiterlesen ›
              | {% endfor %}
