---
layout: default
---

#content(data-router-wrapper)
  .router-view(data-router-view="{{ page.name | split: '.' | first }}")
    #blog-content
      .container
        .blog-hero-image(style="background-image: url(https://res.cloudinary.com/dc5q25fmj/image/upload/c_scale,w_1170,f_auto/v1577971679/blog-hero_lytpxp.jpg)")
          h1 {{ page.title }}
        .col-2-container
          .main-col
            main
              | {{ content }}
          .side-col
            aside.main-sidebar
              include sidebar-blog
    //- prefooter