---
layout: default
---

#content(data-router-wrapper)
  .router-view(data-router-view="{{ page.name | split: '.' | first }}")
    #blog-content
      .container
        .blog-hero-image
          h1.page-heading Blog
        .col-2-container
          .main-col
            main
              article.blog-main-content
                h2
                  | Kategorie: 
                  span(style="color: #bdcd00") {{ page.title }}
                | {% for post in page.posts %}
                .blog-post-teaser
                  a(href="{{ post.url }}")
                    img(src="https://res.cloudinary.com/dc5q25fmj/image/upload/c_fill,g_center,f_auto,q_auto,w_767,h_300/{{ post.featured_image }}", srcset="https://res.cloudinary.com/dc5q25fmj/image/upload/c_fill,g_center,f_auto,q_auto,w_767,h_300/{{ post.featured_image }} 767w, https://res.cloudinary.com/dc5q25fmj/image/upload/c_fill,g_center,f_auto,q_auto,w_640/{{ post.featured_image }} 640w, https://res.cloudinary.com/dc5q25fmj/image/upload/c_fill,g_center,f_auto,q_auto,w_360/{{ post.featured_image }} 360w" sizes="(min-width: 671px) 767px, (min-width: 380px) 640px, (min-width: 1px) 360px" alt="{{ post.title }}")
                  h3 {{ post.title }}
                  .blog-post-info
                    | von 
                    a(href="{% link about.pug %}") Tanja Knappe 
                    | / {{ post.date | date: "%d.%m.%Y" }} / {{ post.categories[0] }}
                  .blog-post-excerpt {{ post.excerpt | truncatewords: 20 }}
                  .blog-post-link
                    a(href="{{ post.url }}") weiterlesen ›
                | {% endfor %}
          .side-col
            aside.main-sidebar
              include sidebar-blog
