---
---

doctype html
html(lang="de")
  include head
  body(class="{{ page.title }}")
    .nav-container
      include header-info
      include logo-stripe
      include nav
    | {{ content }}
    include footer

    script(type="text/javascript" src="{{ '/assets/js/main-bundle.js' | relative_url }}")
