---
---

doctype html
html(lang="de")
  include head
  body(class="{{ page.title }}")
    include header
    include nav
    | {{ content }}
    include footer
    include cookie-consent

    script(type="text/javascript" src="{{ '/assets/js/navigation.js' | relative_url }}")
    script(type="text/javascript" src="{{ '/assets/js/cookie_notice.js' | relative_url }}")
    script(type="text/javascript" src="{{ '/assets/js/netlify.js' | relative_url }}")
