---
layout: default
---

#content(data-router-wrapper)
  .router-view(data-router-view="{{ page.name | split: '.' | first }}")
    | {%- if page.url == "/" -%}
    img.hero-image.mobile-hidden(srcset="{{ 'assets/images/hero-tablet-desktop.jpg' | relative_url }} 2000w, {{ 'assets/images/hero-mobile.jpg' | relative_url }} 1000w" alt="Tanja Knappe" sizes="(min-width: 1000px) 2000px, (min-width: 200px) 1000px")
    .mobile-hero-image.mobile-show
    | {%- endif -%}
    | {%- if page.hero -%}
    .hero-image-page
    | {%- endif -%}
    .container
      .col-2-container
        .main-col
          main
            | {{ content }}
        .side-col.mobile-hidden
          aside.main-sidebar
            | {%- if page.url == "/kontakt-und-termine" -%}
            include sidebar-contact
            | {%- else -%}
            include sidebar-primary
            | {%- endif -%}
    | {% if page.url != "/kontakt-und-termine" %}
    | {% include pre-footer %}
    | {% endif %}
